$main-color: #89abe3;
$second-color: #bcf8ec;
$third-color: #8b687f;
$fourth-color: #7b435b;
$fifth-color: #2d2327;

@mixin cell-padding {
  padding: 3px 3px;
}

html,
body {
  font-family: "IBM Plex Mono", monospace;
  background: $main-color;
  color: black;
  font-size: 13px;
  margin: 0;
  padding: 0;
}

h1,
h2 {
  margin: 5px;
}

ul {
  list-style-type: none;
  padding: 0;
}

.container {
  padding: 10px 10px;
  height: calc(100vh - 20px);
}

.grid {
  padding: 10px 10px;
  height: calc(100vh - 20px);
  margin: 0;
  display: grid;
  grid-template-columns: minmax(250px, 2fr) minmax(100px, 1fr) minmax(250px, 4fr);
  grid-template-rows: minmax(125px, 1fr) minmax(250px, 3fr);
  grid-row-gap: 10px;
  grid-column-gap: 10px;
  grid-template-areas:
    "textarea options info"
    "textarea chart chart";
}

.grid-cell {
  background: $second-color;
}

textarea {
  font-family: "Share Tech Mono", monospace;
  grid-area: textarea;
  @include cell-padding;
  font-size: 13px;
  border: none;
  resize: none;
  &:focus {
    outline: none;
  }
}

.stats {
  grid-area: info;
  @include cell-padding;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.stats-content {
  text-align: center;
}

#chart {
  grid-area: chart;
}
