html,
body {
  font-family: "IBM Plex Mono", monospace;
  background: #89abe3;
  color: black;
  font-size: 15px;
  margin: 0;
  padding: 0;
}

h1 {
  margin: 3px;
  font-size: 1.5rem;
}

ul {
  list-style-type: none;
  padding: 0;
}

.container {
  padding: 10px 10px;
  height: calc(100vh - 20px);
}

.grid {
  padding: 10px 10vw;
  height: calc(100vh - 20px);
  margin: 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(250px, 2fr) minmax(100px, 2fr) minmax(150px, 2fr) minmax(150px, 2fr);
      grid-template-columns: minmax(250px, 2fr) minmax(100px, 2fr) minmax(150px, 2fr) minmax(150px, 2fr);
  -ms-grid-rows: minmax(125px, 1fr) minmax(125px, 1fr) minmax(250px, 2fr);
      grid-template-rows: minmax(125px, 1fr) minmax(125px, 1fr) minmax(250px, 2fr);
  grid-row-gap: 10px;
  grid-column-gap: 10px;
      grid-template-areas: "title options stats word-table" "textarea textarea chart chart" "textarea textarea chart chart";
}

.grid-cell {
  background: #bcf8ec;
  border-radius: 3px;
}

.title {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: title;
  color: #bcf8ec;
  font-size: 1.5rem;
  border: solid 3px;
  border-radius: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.title h2 {
  font-size: 1rem;
  text-align: right;
}

.options-container {
  padding: 3px 3px;
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: options;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  height: 100%;
  margin: 0;
}

.options label {
  font-weight: bold;
}

.options input[type="checkbox"] {
  width: 18px;
  height: 18px;
  padding: 0;
  margin: 0;
}

.options input[type="text"] {
  width: 30px;
  height: 20px;
  text-align: center;
}

.options .button {
  width: 20px;
  height: 20px;
  padding: 0;
  margin: 0;
}

.stats-container {
  padding: 3px 3px;
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: stats;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.stats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
  max-width: 250px;
}

.stat-title {
  font-weight: bold;
}

.stat-content {
  max-width: 250px;
  overflow-x: scroll;
  white-space: nowrap;
}

.word-table-container {
  padding: 3px 3px;
  -ms-grid-row: 1;
  -ms-grid-column: 4;
  grid-area: word-table;
  height: calc(100% - 6px);
}

.word-table-header {
  border-spacing: 0;
  table-layout: fixed;
  width: 100%;
  height: 10%;
}

.word-table-header th {
  font-size: 14px;
  text-align: center;
  padding: 0;
}

.scroll-container {
  height: calc(90% - 6px);
  width: 100%;
  overflow: scroll;
  display: hidden;
  padding: 0;
}

.word-table {
  border-spacing: 0;
  table-layout: fixed;
  width: 100%;
}

.word-table td {
  max-width: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 13px;
  text-align: center;
  padding: 0;
}

textarea {
  font-family: "Share Tech Mono", monospace;
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: textarea;
  padding: 3px 3px;
  font-size: 14px;
  border: none;
  resize: none;
}

textarea:focus {
  outline: none;
}

.chart {
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-area: chart;
}

#tooltip {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  opacity: 0;
  background: #89abe3;
  border-radius: 3px;
  pointer-events: none;
  color: #bcf8ec;
  font-weight: bold;
  padding: 5px;
  -webkit-transition: opacity ease-in-out 0.2s;
  transition: opacity ease-in-out 0.2s;
}

#tooltip-line {
  height: 0;
  background: #89abe3;
  border: 0.75px solid #89abe3;
  border-radius: 3px;
  -webkit-transform-origin: bottom left;
          transform-origin: bottom left;
  opacity: 0;
  position: absolute;
  pointer-events: none;
  -webkit-transition: opacity ease-in-out 0.2s;
  transition: opacity ease-in-out 0.2s;
}

@media screen and (max-width: 1380px) {
  html,
  body {
    font-size: 13px;
  }
  .container {
    padding: 10px 10px;
    height: calc(100vh - 20px);
  }
  .grid {
    padding: 10px 5vw;
    height: calc(100vh - 20px);
    margin: 0;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: minmax(250px, 2fr) minmax(100px, 2fr) minmax(150px, 2fr) minmax(150px, 2fr);
        grid-template-columns: minmax(250px, 2fr) minmax(100px, 2fr) minmax(150px, 2fr) minmax(150px, 2fr);
    -ms-grid-rows: minmax(125px, 1fr) minmax(125px, 1fr) minmax(250px, 1.5fr);
        grid-template-rows: minmax(125px, 1fr) minmax(125px, 1fr) minmax(250px, 1.5fr);
    grid-row-gap: 10px;
    grid-column-gap: 10px;
        grid-template-areas: "title options stats word-table" "textarea textarea chart chart" "textarea textarea chart chart";
  }
}

@media screen and (max-width: 1080px) {
  .container {
    padding: 10px 10px;
    height: calc(100vh - 20px);
  }
  .grid {
    grid-row-gap: 5px;
    grid-column-gap: 5px;
        grid-template-areas: "title chart chart chart" "options stats stats word-table" "textarea textarea textarea textarea";
  }
  .stats {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 100%;
    max-width: 300px;
  }
  .stat-content {
    max-width: 250px;
    overflow-x: scroll;
    white-space: nowrap;
  }
}

@media screen and (max-width: 750px) {
  html,
  body {
    font-size: 12px;
  }
  .container {
    padding: 10px 10px;
    height: calc(100vh - 20px);
  }
  .grid {
    padding: 5px 5px;
    grid-row-gap: 5px;
    grid-column-gap: 5px;
    -ms-grid-columns: minmax(100px, 2fr) minmax(100px, 2fr) minmax(100px, 2fr) minmax(100px, 2fr);
        grid-template-columns: minmax(100px, 2fr) minmax(100px, 2fr) minmax(100px, 2fr) minmax(100px, 2fr);
    -ms-grid-rows: minmax(50px, 0.25fr) minmax(125px, 1fr) minmax(125px, 1fr) minmax(250px, 1.5fr);
        grid-template-rows: minmax(50px, 0.25fr) minmax(125px, 1fr) minmax(125px, 1fr) minmax(250px, 1.5fr);
        grid-template-areas: "title title title title" "options options chart chart" "stats stats word-table word-table" "textarea textarea textarea textarea";
  }
  .title {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .stats {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 100%;
    max-width: 300px;
  }
  .stat-content {
    max-width: 200px;
    overflow-x: scroll;
    white-space: nowrap;
  }
}

@media screen and (max-width: 750px) {
  .grid {
    -ms-grid-columns: 2fr 2fr 2fr 2fr;
        grid-template-columns: 2fr 2fr 2fr 2fr;
    -ms-grid-rows: minmax(50px, 0.25fr) minmax(125px, 1fr) minmax(125px, 1fr) minmax(225px, 1.5fr);
        grid-template-rows: minmax(50px, 0.25fr) minmax(125px, 1fr) minmax(125px, 1fr) minmax(225px, 1.5fr);
        grid-template-areas: "title title title title" "options options chart chart" "stats stats word-table word-table" "textarea textarea textarea textarea";
  }
}
/*# sourceMappingURL=index.css.map */