$main-color: #89abe3;
$second-color: #bcf8ec;
$third-color: #8b687f;
$fourth-color: #7b435b;
$fifth-color: #2d2327;

@mixin cell-padding {
  padding: 3px 3px;
}

html,
body {
  font-family: "IBM Plex Mono", monospace;
  background: $main-color;
  color: black;
  font-size: 15px;
  margin: 0;
  padding: 0;
}

h1 {
  margin: 3px;
  font-size: 1.5rem;
}

ul {
  list-style-type: none;
  padding: 0;
}

.container {
  padding: 10px 10px;
  height: calc(100vh - 20px);
}

.grid {
  padding: 10px 10vw;
  height: calc(100vh - 20px);
  margin: 0;
  display: grid;
  grid-template-columns: minmax(250px, 2fr) minmax(100px, 2fr) minmax(150px, 2fr) minmax(150px, 2fr);
  grid-template-rows: minmax(125px, 1fr) minmax(125px, 1fr) minmax(250px, 2fr);
  grid-row-gap: 10px;
  grid-column-gap: 10px;
  grid-template-areas:
    "title options stats word-table"
    "textarea textarea chart chart"
    "textarea textarea chart chart";
}

.grid-cell {
  background: $second-color;
  border-radius: 3px;
}

.title {
  grid-area: title;
  color: $second-color;
  font-size: 1.5rem;
  & h2 {
    font-size: 1rem;
    text-align: right;
  }
  border: solid 3px;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.options-container {
  @include cell-padding;
  grid-area: options;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 0;
  max-height: 100%;
}

.options {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin: 0;

  label {
    font-weight: bold;
  }

  input[type="checkbox"] {
    width: 18px;
    height: 18px;
    padding: 0;
    margin: 0;
  }

  input[type="text"] {
    width: 30px;
    height: 20px;
    text-align: center;
  }

  button {
    width: 20px;
    height: 20px;
    padding: 0;
    margin: 0;
  }
  label {
    padding: 5px;
  }
}

.option-flex-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.option-case {
  flex-direction: row !important;
}

.option-controls {
  text-align: center;
}

.stats-container {
  @include cell-padding;
  grid-area: stats;
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100% -6px);
  min-height: 0;
}

.stats {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  max-width: 250px;
}

.stat-title {
  font-weight: bold;
}

.stat-content {
  max-width: 250px;
  overflow-x: scroll;
  white-space: nowrap;
}

.word-table-container {
  @include cell-padding;
  grid-area: word-table;
  height: calc(100% - 6px);
}

.word-table-header {
  border-spacing: 0;
  table-layout: fixed;
  width: 100%;
  height: 10%;
  & th {
    font-size: 14px;
    text-align: center;
    padding: 0;
  }
}

.scroll-container {
  height: calc(90% - 6px);
  width: 100%;
  overflow: scroll;
  display: hidden;
  padding: 0;
}

.word-table {
  border-spacing: 0;
  table-layout: fixed;
  width: 100%;
  & td {
    max-width: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 13px;
    text-align: center;
    padding: 0;
  }
}

textarea {
  font-family: "Share Tech Mono", monospace;
  grid-area: textarea;
  @include cell-padding;
  font-size: 14px;
  border: none;
  resize: none;
  &:focus {
    outline: none;
  }
}

.chart {
  grid-area: chart;
}

#tooltip {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  opacity: 0;
  background: $main-color;
  border-radius: 3px;
  pointer-events: none;
  color: $second-color;
  font-weight: bold;
  padding: 5px;
  transition: opacity ease-in-out 0.2s;
}

#tooltip-line {
  height: 0;
  background: $main-color;
  border: 0.75px solid $main-color;
  border-radius: 3px;
  transform-origin: bottom left;
  opacity: 0;
  position: absolute;
  pointer-events: none;
  transition: opacity ease-in-out 0.2s;
}

@media screen and (max-width: 1380px) {
  html,
  body {
    font-size: 13px;
  }

  .container {
    padding: 10px 10px;
    height: calc(100vh - 20px);
  }

  .grid {
    padding: 10px 5vw;
    height: calc(100vh - 20px);
    margin: 0;
    display: grid;
    grid-template-columns: minmax(250px, 1fr) minmax(100px, 1fr) minmax(150px, 1fr) minmax(150px, 1fr);
    grid-template-rows: minmax(125px, 1fr) minmax(125px, 1fr) minmax(250px, 1.5fr);
    grid-row-gap: 10px;
    grid-column-gap: 10px;
    grid-template-areas:
      "title options stats word-table"
      "textarea textarea chart chart"
      "textarea textarea chart chart";
  }
}

@media screen and (max-width: 1080px) {
  .container {
    padding: 10px 10px;
    height: calc(100vh - 20px);
  }

  .grid {
    grid-template-columns: minmax(150px, 2fr) minmax(150px, 2fr) minmax(150px, 2fr);
    grid-template-rows: minmax(125px, 1fr) minmax(125px, 1fr) minmax(250px, 1.5fr);
    grid-row-gap: 5px;
    grid-column-gap: 5px;
    grid-template-areas:
      "title chart chart"
      "options stats word-table"
      "textarea textarea textarea";
  }

  .stats {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    height: 100%;
    max-width: 300px;
  }

  .stat-content {
    max-width: 250px;
    overflow-x: scroll;
    white-space: nowrap;
  }
}

@media screen and (max-width: 750px) {
  html,
  body {
    font-size: 12px;
  }

  .container {
    height: calc(100vh);
  }

  .grid {
    grid-row-gap: 5px;
    grid-column-gap: 5px;
    grid-template-columns: minmax(75px, 1fr) minmax(75px, 1fr) minmax(75px, 1fr) minmax(75px, 1fr);
    grid-template-rows: minmax(50px, 0.25fr) minmax(100px, 1fr) minmax(100px, 1fr) minmax(150px, 1.5fr);
    grid-template-areas:
      "title title title title"
      "options options chart chart"
      "stats stats word-table word-table"
      "textarea textarea textarea textarea";
  }

  .title {
    flex-direction: row;
  }

  .stats-container {
    overflow: scroll;
    white-space: nowrap;
  }

  .stats {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    height: 100%;
    max-width: 300px;
  }

  .stat-content {
    display: flex;
    flex-direction: column;
    max-width: 200px;
    overflow-x: scroll;
    white-space: nowrap;
  }
}

@media screen and (max-width: 450px) {
}
